*{
    max-width: 576px;
    background-color: aliceblue;
    margin: auto;
}

img.d-block.w-100 {
    height: 200px;
}
.fixed-footer-bg p {
    text-align: center;
    color: rgb(102, 102, 102);
    font-size: 17px;
}
img.footer-img {
    width: 30px;
    height: 24px;
    text-align: center;
    background: none;
}
